.stopped {
  color: rgb(0, 148, 25);
  text-align: center
} 
.running {
  color: red;
  text-align: center
} 
.panel-footer:hover {
  cursor: pointer;
}
.clockrunning {
  text-align: center;
  font-size: 26px;
}
.clockdescription {
  color: rgb(126, 126, 126);
}
.clockoptions {
  text-align: right;
  margin-right: 12px;
  margin-bottom: 10px
}
.title {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom-color: rgb(156, 156, 156)
}
.hidden {
 visibility: hidden 
 }
.clickableGly {
  margin-left: 10px
}
.clickableGly:hover {
  cursor: pointer;
}